@model ClientEditModel
<div id="modal-block">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title">@Resource.EditRecord</h4>
    </div>
    @using (Html.BeginForm("Edit", "Client", FormMethod.Post, new { autocomplete = "off", id = "formb" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummaryWithCheck(true)
        <div class="modal-body">
            <div class="form-group">
                @Html.LabelRequiredFor(m => m.FirstName, new { @class = "text-error margin-l-2" })
                @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control", placeholder = Resource.FirstName })
                @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new { @class = "text-error" })
            </div>
            <div class="form-group">
                @Html.LabelRequiredFor(m => m.LastName, new { @class = "text-error margin-l-2" })
                @Html.TextBoxFor(e => e.LastName, new { @class = "form-control", placeholder = Resource.LastName })
                @Html.ValidationMessageFor(m => m.LastName, string.Empty, new { @class = "text-error" })
            </div>
            <div class="form-group">
                @Html.LabelRequiredFor(m => m.CardNumber, new { @class = "text-error margin-l-2" })
                @Html.TextBoxFor(e => e.CardNumber, new { @class = "form-control", placeholder = Resource.CardNumber })
                @Html.ValidationMessageFor(m => m.CardNumber, string.Empty, new { @class = "text-error" })
            </div>
            <div class="form-group">
                @Html.LabelRequiredFor(m => m.PhoneNumber, new { @class = "text-error margin-l-2" })
                @Html.TextBoxFor(e => e.PhoneNumber, new { @class = "form-control", placeholder = Resource.PhoneNumber })
                @Html.ValidationMessageFor(m => m.PhoneNumber, string.Empty, new { @class = "text-error" })
            </div>
            <div class="form-group">
                @Html.LabelRequiredFor(m => m.Email, new { @class = "text-error margin-l-2" })
                @Html.TextBoxFor(e => e.Email, new { @class = "form-control", placeholder = Resource.Email })
                @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-error" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(e => e.Address, new { @class = "form-control", placeholder = Resource.Address })
                @Html.ValidationMessageFor(m => m.Address, string.Empty, new { @class = "text-error" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(e => e.City, new { @class = "form-control", placeholder = Resource.City })
                @Html.ValidationMessageFor(m => m.City, string.Empty, new { @class = "text-error" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">@Resource.Cancel</button>
            <button onclick="return AHelper.postData();" class="btn btn-danger btn-flat">@Resource.Submit</button>
        </div>
    }
    @Html.Partial("_Validation", "formb")
</div>